# hmi_dashboard build outputs

# Keil MDK build directories
**/mdk/Objects/
**/mdk/Listings/
**/mdk/RTE/
**/mdk/RTE/**/
**/mdk/app/
**/mdk/bin/

# GCC build output
gcc/bin/

# Keil backup files
**/*.bak
**/*.uvguix.*
**/project_uvoptx.bak
**/project_uvprojx.bak
**/project.uvguix_*
**/project.uvguix.*.bak

# SCons cache
**/.sconsign.dblite

# Python cache
**/*.pyc

# mpcli runtime logs
**/download/mpcli/log/

# JLink runtime files
**/mdk/JLinkLog.txt
**/mdk/JLinkLog*.txt