/*
 * Copyright (c) 2024, Realtek Semiconductor Corporation. All rights reserved.
 */

#include <zephyr/dt-bindings/pinctrl/rtl87x3g-pinctrl.h>
#include <zephyr/dt-bindings/gpio/realtek-rtl87x3g-gpio.h>
#include <rtl87x3g-display-lcd.dtsi>

/ {
	chosen {
		zephyr,console = &uart2;
		zephyr,shell-uart = &uart2;
		zephyr,display = &display_lcd;
	};
};

&display_lcd {
	status = "okay";
	/* ST77916 360x360 QSPI: override dtsi default (480x272) */
	width = <360>;
	height = <360>;
};

&uart2 {
	status = "okay";
	current-speed = <2000000>;
};

&pinctrl {
	/* Override board default (P4_1/P2_6): route console UART2 to P4_1(TX)/P2_6(RX) */
	uart2_default: uart2_default {
		group1 {
			psels =
				<RTL87X3G_PSEL(UART2_TX, P4_1, DIR_OUT, DRV_HIGH, PULL_UP)>,
				<RTL87X3G_PSEL(UART2_RX, P2_6, DIR_IN,  DRV_HIGH, PULL_UP)>;
		};
	};
	uart2_sleep: uart2_sleep {
		group1 {
			psels = <RTL87X3G_PSEL(SW_MODE, P4_1, DIR_OUT, DRV_HIGH, PULL_UP)>;
		};
		group2 {
			psels = <RTL87X3G_PSEL(SW_MODE, P2_6, DIR_IN, DRV_HIGH, PULL_UP)>;
			wakeup-low;
		};
	};

	sdhc0_default: sdhc0_default {
		group1 {
			psels =
				<RTL87X3G_PSEL(HS_P5_0_SDH0_CLK,   P5_0, DIR_OUT, DRV_HIGH, PULL_UP)>,
				<RTL87X3G_PSEL(HS_P5_1_SDH0_CMD,   P5_1, DIR_OUT, DRV_HIGH, PULL_UP)>,
				<RTL87X3G_PSEL(HS_P5_2_SDH0_DATA0, P5_2, DIR_OUT, DRV_HIGH, PULL_UP)>;
			bias-pull-strong;
		};
	};

	uart3_default: uart3_default {
		group1 {
			psels =
				<RTL87X3G_PSEL(UART3_TX, P5_4, DIR_OUT, DRV_HIGH, PULL_UP)>,
				<RTL87X3G_PSEL(UART3_RX, P5_5, DIR_IN,  DRV_HIGH, PULL_UP)>;
		};
	};
	uart3_sleep: uart3_sleep {
		group1 {
			psels = <RTL87X3G_PSEL(SW_MODE, P5_4, DIR_OUT, DRV_HIGH, PULL_UP)>;
		};
		group2 {
			psels = <RTL87X3G_PSEL(SW_MODE, P5_5, DIR_IN, DRV_HIGH, PULL_UP)>;
			wakeup-low;
		};
	};

	i2c1_default: i2c1_default {
		group1 {
			psels =
				<RTL87X3G_PSEL(I2C1_CLK, P4_4, DIR_OUT, DRV_HIGH, PULL_NONE)>,
				<RTL87X3G_PSEL(I2C1_DAT, P4_3, DIR_OUT, DRV_HIGH, PULL_NONE)>;
		};
	};
	i2c1_sleep: i2c1_sleep {
		group1 {
			psels =
				<RTL87X3G_PSEL(SW_MODE, P4_4, DIR_IN, DRV_LOW, PULL_UP)>,
				<RTL87X3G_PSEL(SW_MODE, P4_3, DIR_IN, DRV_LOW, PULL_UP)>;
		};
	};

	/* I2C0 (Gsensor): SCL=P3_5, SDA=P3_4 */
	i2c0_default: i2c0_default {
		group1 {
			psels =
				<RTL87X3G_PSEL(I2C0_CLK, P3_5, DIR_OUT, DRV_HIGH, PULL_NONE)>,
				<RTL87X3G_PSEL(I2C0_DAT, P3_4, DIR_OUT, DRV_HIGH, PULL_NONE)>;
		};
	};
	i2c0_sleep: i2c0_sleep {
		group1 {
			psels =
				<RTL87X3G_PSEL(SW_MODE, P3_5, DIR_IN, DRV_LOW, PULL_UP)>,
				<RTL87X3G_PSEL(SW_MODE, P3_4, DIR_IN, DRV_LOW, PULL_UP)>;
		};
	};
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&uart3 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart3_default>;
	pinctrl-1 = <&uart3_sleep>;
	pinctrl-names = "default", "sleep";
	dmas = <&dma0 2 49 0xa>, <&dma0 3 48 0x10021>;
	dma-names = "rx", "tx";
};

&dma0 {
	status = "okay";
};

&sdhc0 {
	pin-group = <0>;
	bus-width = <1>;
	max-bus-freq = <50000000>;
	pinctrl-0 = <&sdhc0_default>;
	pinctrl-names = "default";
	status = "okay";
};

/ {
	aliases {
		sdhc0 = &sdhc0;
		wifi-int = &wifi_int;
		uart3 = &uart3;
	};
	gpio_devs {
		compatible = "gpio-keys";
		wifi_int: wifi_int {
			gpios = <&gpiob 18 GPIO_ACTIVE_LOW>;  /* P5_3 */
			label = "wifi int";
		};
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};

&rtc {
	status = "okay";
};
