/*
 * Copyright (c) 2024, Realtek Semiconductor Corporation. All rights reserved.
 */

#include <zephyr/dt-bindings/pinctrl/rtl87x3g-pinctrl.h>
#include <zephyr/dt-bindings/gpio/realtek-rtl87x3g-gpio.h>

/ {
	chosen {
		zephyr,console = &uart2;
		zephyr,shell-uart = &uart2;
	};
};

&uart2 {
	status = "okay";
	current-speed = <2000000>;
};

&pinctrl {
	i2c1_default: i2c1_default {
		group1 {
			psels =
				<RTL87X3G_PSEL(I2C1_CLK, ADC_0, DIR_OUT, DRV_HIGH, PULL_NONE)>,
				<RTL87X3G_PSEL(I2C1_DAT, ADC_1, DIR_OUT, DRV_HIGH, PULL_NONE)>;
		};
	};
	i2c1_sleep: i2c1_sleep {
		group1 {
			psels =
				<RTL87X3G_PSEL(SW_MODE, ADC_0, DIR_IN, DRV_LOW, PULL_UP)>,
				<RTL87X3G_PSEL(SW_MODE, ADC_1, DIR_IN, DRV_LOW, PULL_UP)>;
		};
	};
};

&gpioa {
	status = "okay";
};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
	touch_device: touch_chsc6417@2e {
		compatible = "chipsemi,chsc6417";
		reg = <0x2E>;
		irq-gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>;  /* P0_2 */
		rst-gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;  /* P0_3 */
		gesture-release-timeout-ms = <30>;
		status = "okay";
	};
};
