#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
#
mainmenu "realtek honeygui mainmenu"

menu "honeygui"
rsource "../../../src/Kconfig"
endmenu

config REALTEK_APP_HONEYGUI_DEMO_SUPPORT
   bool
   default y

config REALTEK_BUILD_CJSON
   bool
   default y  

rsource "../../../Kconfig"
